<%- include('partials/header', { title: 'Home' }) %>

<div class="sticky-footer-wrapper">
    <div class="sticky-footer-content">
        <article>
            <h1>
                <center>Welcome to my Portfolio!</center>
            </h1>
        </article>

        <article>
            <h3>Home Page</h3>
            <p>
            This is the homepage of my website.
            </p>
        </article>

        <article>
            <h3>About Me Page</h3>
            <p>
            Hello! My name is Tariq Ahmed. Im a 3rd year university student studying at Ontariotech University.
            </p>
        </article>

        <article>
            <h3>Projects Page</h3>
            <p>
            In my first year of the course "Introduction to Programming," I embarked on an exciting journey into the world of coding. I learned the fundamental principles of Python and applied their newfound knowledge to create a basic calculator program. Through hands-on practice, they mastered key concepts like variables, functions, and conditional statements, enabling them to design a functional calculator that could perform basic arithmetic operations. This project marked the beginning of their programming odyssey, laying a solid foundation for their future endeavors in the realm of computer science.
The second project I did in python was the big group project. We were a team of four to five, and I learned so much from my group members. They helped me become more fluent in Python and helped me understand each and everything we did in the project.
            </p>
        </article>

        <article>
            <h3>Contact Me Page</h3>
            <p>
            </p>
        </article>

        <center>
            <img src="/assets/images/otu_1.jpg" alt="My University" width="460px" height="512px">
            <img src="/assets/images/otu_2.jpg" alt="My University" width="460px" height="512px">
            <img src="/assets/images/otu_3.jpg" alt="My University" width="460px" height="512px">
        </center>

        <div class="clear"></div>
    </div>
    
</div>

<%- include('partials/footer') %>
