<%- include('partials/header', { title: 'Projects' }) %>

<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>

    <div class="sticky-footer-wrapper">
        <div class="sticky-footer-content">
            <article>
                <h1>
                    <center>My Projects!</center>
                </h1>
            </article>

            <article>

                <p>
                In my first year of the course "Introduction to Programming," I embarked on an exciting journey into the world of coding. I learned the fundamental principles of Python and applied their newfound knowledge to create a basic calculator program. Through hands-on practice, they mastered key concepts like variables, functions, and conditional statements, enabling them to design a functional calculator that could perform basic arithmetic operations. This project marked the beginning of their programming odyssey, laying a solid foundation for their future endeavors in the realm of computer science.

The second project I did in python was the big group project. We were a team of four to five, and I learned so much from my group members. They helped me become more fluent in Python and helped me understand each and everything we did in the project.
                </p>
            </article>
            <div class="clear"></div>
        </div>

    </div>
</body>
</html>

<%- include('partials/footer') %>